@font-face{
    font-family: "Gulfs Display";
    src: url(../font/GulfsDisplay-Normal.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



.sesion-inicio {
    position: relative;
    outline: 1px solid red;
    width: 100%;
    height: 45.03vh; /* Ajustado a vh */
    background-color: #ffb4cc;
}


.div1 {
    display: none;
}


.div2 {
    position: absolute;
    left: 37vw;
    top: 20vh;
    z-index: 1;
    
    
    
}
.div2 img {
    border: 1px solid #fcf46c;
    width: 200px;
    height: 300px;
    border-radius: 120px;
    object-fit: cover;
    
}

.estrella {
    margin-left: 17px;
    margin-top: 348px;
    width: 38px;
    height: 38px;
    position: absolute;
    z-index: 3;
    
}

.estrella1 {
    margin-left: 344px;
    margin-top: 385px;
    width: 23px;
    height: 24px;
    position: absolute;
    z-index: 5;
    
}

.estrella2 {
    margin-left: 33px;
    margin-top: 231px;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 6;
    
}

.logo {
    margin-left: 25px;
    margin-top: 598px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 7;
}
        


.linea {
    margin-left: 310px;
    margin-top: 321px;
    width: 67px;
    height: 30px;
    position: absolute;
    z-index: 8;
        
}

/* seccion nosotros */

.seccion-nosotros {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fcf46c;
    outline: 1px solid blue;
    height: 95.37vh; /* Ajustado a vh */
    z-index: 0;
}

.guia {
    outline: 1px solid red;
    height: 5vh;
    padding-top: 25vh;
}

/* seccion galeria */

.seccion-galeria {
position: relative;
overflow: hidden;
width: 100%;
outline: 1px solid green;
height: 60.19vh; /* Ajustado a vh */
z-index: 0;
}




/* seccion precios */

.seccion-precios {
position: relative;
overflow: hidden;
width: 100%;
outline: 1px solid green;
height: 60.19vh; /* Ajustado a vh */
z-index: 0;
}


/* seccion-contectos */

.seccion-contectos {
position: relative;
overflow: hidden;
width: 100%;
outline: 1px solid green;
height: 60.19vh; /* Ajustado a vh */
z-index: 0;
}



/* menos de 768px */
@media (max-width: 768px) {
    .div1 {
        display: flex;
        justify-content: flex-end;
    }

    .div img {
        width: 76.8px;
        height: 76.8px;
    }

}




